h2 {
    margin-top: 14px;
}

.home-page-button-container {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}

.five-day-pollen-forecast-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 15px;
    padding: 0 15px;
}

.current-pollen-forecast-link-in-five-day-pollen-forecast {
    font-size: 20px;
}

.search-container {
    margin: 10px; 
}

.allergen-drop-down,
.scale-level-drop-down, 
.search-button,
.clear-search-results-button {
    margin: 5px;
}

.search-results-error-message {
    color: red;
    font-size: 25px;
}

.pollen-scale {
    font-size: 25px;
}

@media (max-width: 480px) {
    h2 {
      font-size: 20px;
    }
    .five-day-pollen-forecast-link-in-current-pollen-forecast {
        font-size: 17px;
    }
    label {
        font-size: 16px;
    }
    .pollen-scale-current-forecast {
        font-size: 20px;
    }
    .category-scale {
        font-size: 17px;
    }
}

@media (max-width: 394px) {
    h2 {
        font-size: 15px;
    }
    .cuurent-pollen-forecast-link-in-five-day-pollen-forecast {
        font-size: 15px;
    }
    label {
        font-size: 12.5px
    }

    .pollen-scale-current-forecast {
        font-size: 17px;
    }

    .category-scale {
        font-size: 14px;
    }

}