h2 {
    margin-top: 14px;
}

.home-page-button-container {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}

.home-page-button {
    padding: 7px;
    color: black;
    font-size: 14px;
    border-radius: 5px;
    background-color: lightgray;
}

.current-pollen-forecast-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-top: 15px;
    padding: 0 15px;    
}

.five-day-pollen-forecast-link-in-current-pollen-forecast {
    font-size: 20px;
}

.search-container {
    margin: 10px;
}

.drop-down {
    margin: 5px;
}

.search-button,
.clear-search-results-button {
    margin: 5px;
    padding: 7px;
    font-size: 11px;
    border-radius: 5px;
    background-color: lightgray;
}

.search-results-error-message {
    color: red;
    font-size: 20px;
}

.pollen-scale-current-forecast {
    font-size: 25px;
}

.category-scale-low::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    vertical-align: middle;
    border: 2px solid black;
    background: linear-gradient(to bottom, white, rgb(144, 238, 144));
  }

  .category-scale-moderate::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    vertical-align: middle;
    border: 2px solid black;
    background: linear-gradient(to bottom, #FFFFE0, #FFD700);
  }

  .category-scale-high::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    vertical-align: middle;
    border: 2px solid black;
    background: linear-gradient(to bottom, #FFFDF5, #ED8F03);
  }

  .category-scale-very-high::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    vertical-align: middle;
    border: 2px solid black;
    background: linear-gradient(to bottom, #FFD1DC, #FF4500);
  }

  .category-scale-extreme::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    vertical-align: middle;
    border: 2px solid black;
    background: linear-gradient(to bottom, #f44336, #9b2226);
  }

@media (max-width: 480px) {
    h2 {
      font-size: 20px;
    }
    .five-day-pollen-forecast-link-in-current-pollen-forecast {
        font-size: 17px;
    }
    label {
        font-size: 16px;
    }
    .pollen-scale-current-forecast {
        font-size: 20px;
    }
    .category-scale {
        font-size: 17px;
    }
}

@media (max-width: 394px) {
    h2 {
        font-size: 15px;
    }
    .five-day-pollen-forecast-link-in-current-pollen-forecast {
        font-size: 15px;
    }
    label {
        font-size: 12.5px
    }

    .pollen-scale-current-forecast {
        font-size: 17px;
    }

    .category-scale {
        font-size: 14px;
    }
    
}