.current-pollen-forecast-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-top: 15px;
    padding: 0 15px;    
}

.five-day-pollen-forecast-link-in-current-pollen-forecast {
    font-size: 20px;
}

.search-container {
    margin: 10px;
}

.drop-down,
.search-button,
.clear-search-results-button {
    margin: 5px;
}

.search-results-error-message {
    color: red;
    font-size: 20px;
}